:root{
    --color-principal: #53B175;
    --color-buscador: rgb(243, 243, 243);
    --color-borde-buscador: rgb(211, 210, 210);
}


.app{
    color: black;
    margin: auto;
    padding: 0;
}

.nav{
    z-index: 1000;
    justify-content: space-evenly;
    background-color: white;
    font-size: 29px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    text-shadow: 0 0 1px currentColor;
    height: 50px;
    border-radius: 15px;
}


.main-content{
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 70px;
    position: relative;
}


.nav-link{
    text-decoration: none;
    color: inherit;
    border: 2px solid transparent;
    padding: 0;
    margin-bottom: 10px;
}
.nav-link i{
    padding: 5px;
}
.nav-link:hover{
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-principal);
}
.nav-link.active{
    color: var(--color-principal);
    font-weight: bold;
    border-bottom: 2px solid var(--color-principal);
}

.img-banner{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}
.banner{
    padding: 0;
    border-radius: 15px;
}

/* Buscador de productos */
#addon-wrapping{
    border-radius: 10px 0 0 10px;
    background-color:var(--color-buscador);
}
#buscador{
    outline: none; /* Elimina el borde azul */
    box-shadow: none; 
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-buscador);
}
#buscador:focus{
    outline: none; /* Elimina el borde azul */
    box-shadow: none; 
    border: 1px solid var(--color-borde-buscador);
}
#buscador-container{
    margin-top: 15px;
    max-width: 450px;
}

#icono-zanahoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Direccion texto */
#direccion-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Buscador dirrecion */
#addon-wrapping{
    border-radius: 10px 0 0 10px;
    background-color: var(--color-buscador);
}
#buscador-direccion{
    outline: none; /* Elimina el borde azul */
    box-shadow: none; 
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-buscador);
}
#buscador-direccion:focus{
    outline: none; /* Elimina el borde azul */
    box-shadow: none; 
    border: 1px solid var(--color-borde-buscador);
}
#buscador-direccion-container{
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 450px;
}
.filtros{
    padding: 5px;
}

/* Productos */
.card{
    margin: 0;
    padding: 0;
    height: 12rem;
    align-self: center;
}
.precio-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .2rem;
}
.precio{
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 1.2rem;
    height: auto;
}
.oferta{
    margin: 0;
    font-size: .8rem;
    color: #53B175;
}
.card-title{
    font-size: 1.2rem;
    margin: 0;
    font-size: clamp(14px, 2vw, 20px); /* Escala entre 14px y 20px según el espacio */
    text-align: center; /* Centrar el texto */
}
.card-img-top{
    width: 100%; 
    height: 50%;
    object-fit: contain;
}
.card-body{
    height: 50%;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-add{
    background-color: var(--color-principal);
    border-radius: 13px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 0 0 1px currentColor;
}
.button-add:hover{
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

/* Productos */
#productos-lista{
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 8rem));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#producto-seleccion{
    width: 100%;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: 10000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
#producto-seleccion-id{
    max-width: 500px;
    min-width: 300px;
}

/* Carrito add */

#card{
    margin: 0;
    padding: 0;
    height: 12rem;
    align-self: center;
}
#precio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
}
#precio{
    text-align: center;
    margin: 0;
    font-weight: 600;

}
#oferta{
    margin: 0;
    font-size: .8rem;
    color: #53B175;
}
#card-title{
    font-size: 1.2rem;
    margin: 0;
    font-size: clamp(14px, 2vw, 20px); /* Escala entre 14px y 20px según el espacio */
}
#card-img-top{
    width: 100%; 
    height: 50%;
    object-fit: contain;
}
#card-body{
    height: 50%;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#button-add{
    background-color: var(--color-principal);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 0 0 1px currentColor;
    width: 70%;
}
#button-add:hover{
    background-color: #7dc095;
}

#input-add{
    width: 40px;
    /* margin-left: 10px; */
    padding: 0;
    text-align: center;
}


/* Carrito */
#carrito-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de toda la pantalla */
    padding-bottom: 70px;
}

#productoListaCarrito{
flex: 1;
overflow-y: auto;
}

.card-carrito{
    height: 150px;
    margin: 10px 0 10px 0;
}

.img-carrito{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.precio-carrito{
    text-align: end;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    display: flex;
}

.boton-quitar{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-weight: 700;
}

.boton-sumar{
    background-color: var(--color-principal);
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-sizing: border-box; /* Asegura que padding no aumente el ancho */
}

.contador-kg{
    margin: 2px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 5px; */
    box-sizing: border-box; /* Asegura que padding no aumente el ancho */
    /* overflow: hidden; */
    width: 60px;
}

.titulo-sub{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo-sub h3{
    font-size: 1.2rem;
    text-align: start;
}
.titulo-sub h5{
    font-size: 1rem;
    color: gray;
    text-align: start;
}
.sumador-y-titulo{
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.agregarProductos{
    color: rgb(112, 107, 107);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sumadorTotal{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    background-color: var(--color-principal);
    border-radius: 15px;
    text-align: center;
    padding: 15px 0  15px 0;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sumadorTotal p{
    margin: 0;
}
#totalContent{
    /* width: 30%; */
    margin-right: 5px;
    align-items: center;
    justify-content: end;
    right: 10px;
    display: flex;
}
#total{
    background-color: #3e9f62;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
}
#ordenar{
    /* width: 70%; */
    font-size: 1.5rem;
    text-align: center;
    /* display: flex; */
}
.botonesCantidad{
    display: flex;
    justify-content: center;
    padding: 0;
}


/* Filtros */

.filtros{
    text-align: center;
    background-color: #c0f2d3;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.filtros:hover{
    border: 1px solid black;
}


/*Combos*/


.combo-descripcion{
    display: flex;
    align-items: center;

}

.combo-container{
    height: auto;
}
.img-combo{
    display: flex;
    align-items: center;
    height: 150px;
}
.img-combo img{
    height: 150px;
    object-fit: contain;
}
.titulo-combo{
    font-weight: 600;
    font-size: 1.5rem;
}
.precio-combo{
    font-weight: 600;
    font-size: 1.5rem;
}
.boton-combo{
    border: none;
    background-color: var(--color-principal);
}
.boton-combo i{
    font-size: 1.5rem;
    padding: 0;
}

/*modal combo*/

#combo-background{
    position: fixed;
    z-index: 1000;
    background-color: red;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
}
#combo-modal img{
    width: 300px;
    border-radius: 10px;
}